.heading {
  font-size: 35px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.price {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}
.category {
  font-size: 15px;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
.addtocartbutton {
  margin-top: 20px;
  background-color: green;
  color: white;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.addedtocartbutton {
  margin-top: 20px;
  background-color: rgb(227, 243, 227);
  color: black;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;

  pointer-events: none;
}
.cardmainInvt {
  padding: 20px;
  border: 1px solid;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar {
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(68, 68, 168);
  color: white;
}
.cartimage {
  cursor: pointer;
  margin-right: 100px;
  position: relative;
}
.cartnumber {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 20px;
  color: white;
  position: absolute;
  right: -7px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bolder;
}
.cartitem {
  margin-bottom: 20px;
  font-size: 20px;
}
.checkoutbutton {
  padding: 10px;
  background-color: blueviolet;
  width: 200px;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
}
